<form [formGroup]="signupForm" (ngSubmit)="onSubmit(signupForm.value)">
  <div class="register">Sign Up</div>
  <div class="input-container">
    <label> Nickname:</label>
    <input #itemName [ngClass]="checkIfValidvalue(itemName)" type="text" formControlName="nickname"  />
    <div class="error"*ngIf='checkIfwrittencorrectly(itemName)'>Use letters,numbers or symbols</div>
    <div *ngIf="enterValue(itemName)" class="error">Enter Nickname</div>
  </div>
  <div class="input-container">
    <label> E-mail:</label>
    <input #itemName1 
    [ngClass]="checkIfValidvalue(itemName1)"
      type="text"
      
      formControlName="email"
    />
    <div *ngIf='checkIfwrittencorrectly(itemName1)' class="error">Use Valid E-mail</div>
    <div *ngIf="enterValue(itemName1)" class="error">Enter Email</div>
  </div>

  
  <div class="input-container">
    <label> Password:</label>
    <input #itemName2 [ngClass]="checkIfValidvalue(itemName2)" type="password" formControlName="password"  />
    <div  *ngIf='checkIfwrittencorrectly(itemName2)' class="error">Use letters,numbers or symbols,minlength 8 </div>
    <div *ngIf="enterValue(itemName2)" class="error">Enter Password</div>
  </div>
  
  <div class="input-container">
    <label> Confirm Password:</label>
    <input #itemName3 [ngClass]="checkIfValidvalue(itemName3)" type="password" formControlName="confirmPass"  />
    <div  *ngIf='checkIfwrittencorrectly(itemName3)' class="error">Use letters,numbers or symbols,minlength 8 </div>
    <div *ngIf="enterValue(itemName3)" class="error">Confirm Password</div>
  </div>
  
 
  <div class="input-container">
    <label> Phone Number:</label>
    <input #itemName4 [ngClass]="checkIfValidvalue(itemName4)" type="text" formControlName="phoneNumber"  />
    <div *ngIf='checkIfwrittencorrectly(itemName4)' class="error">Use format +995 *** *** ***</div>
    <div *ngIf="enterValue(itemName4)" class="error">Enter phoneNumber</div>
  </div>

  

  <div class="input-container ">
   <div class="div-cont ">
      <input 
        type="checkbox"
        #itemName5
        formControlName="checkbox"
      /><label for="check" class="check"
        >I have read the <a href="#" class="underline"> agreeement</a></label
      >
   </div>
    <div *ngIf="enterValue(itemName5)" class="error">Checkbox is required</div>
  </div>
  
  <div class="div-cont regbtns ">
    <button class="btn" type="submit">Sign Up</button>
    <span> |</span>
    <button class="btn" type="button" (click)="goToLogin()">
      Go to Login Page
    </button>
  </div>
</form>
