<div class="container">
    <button class="convertor" (click)="display()">Convertor <mat-icon>expand_more</mat-icon></button>
    <form [formGroup]="converterForm">
    <div class="inner-cont" *ngIf="clicked">
        <div class="flex">
            <div class="small-cont">
                <label *ngIf="!reversedDistance" >Kilometers</label>
                <label *ngIf="reversedDistance">Miles</label>
            <input formControlName = "kilometers" type="text">
        </div>

            <mat-icon (click)="reverseDistance()" > change_circle </mat-icon>
            <div class="small-cont">
                <label *ngIf="!reversedDistance">Miles </label>
                <label *ngIf="reversedDistance">Kilometers </label>
            <input formControlName = "miles" type="text">
            </div>
        </div>
        <div class="flex">
            <div class="small-cont">
                <label *ngIf="!reversedtemp">C°</label>
                <label *ngIf="reversedtemp">F°</label>
                <input formControlName = "celsius" type="text">
            </div>
            <mat-icon (click)="reversetemp()"> change_circle </mat-icon>
           <div class="small-cont">
                <label *ngIf="!reversedtemp">F°</label>
                <label *ngIf="reversedtemp">C°</label>
                <input formControlName = "fahrenheit" type="text">
           </div>
       
        </div>
    </div>
</form>

</div>  