.top-row{
    background-color: #98ceff;
    width: 100vw;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button{
    border: none;
    background-color: rgba(0, 0, 0, 0.1803921569);
    padding: 5px 10px;
    border-radius: 15px;
    cursor: pointer;
}