.background{
    background-color: #ffc200;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.container{
    background-color:  #ffc200;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.inner-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 10px
}

.start{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d0b86c;
    // background-color: #a98a27bf;
    color: #fff;
    padding: 8px 16px;
    border: none;
    font-size: 32px;
    font-family: 'Roboto';
    font-weight: 500;
    border-radius: 15px;
    box-shadow: 0px 1px 3px #00000063;
    cursor: pointer;
    transform: translateY(-100%);
    width: 207px;
    height: 54px;
}
.start:hover{
    background-color:  #c2891f;
    box-shadow: 0px 1px 3px #0000008c;
    // font-size: 34px;
    // width: 215px;
    // height: 60px;
}
.start:active{
    background-color:  #b3a997;
    box-shadow: 0px 1px 3px #0000008c;
}
.next{
    display: flex;
    border: none;
    /* width: 120px; */
    /* height: 54px; */
    justify-content: center;
    align-items: cernter;
    align-items: center;
    background:#495057;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 4px;
}
.next:hover{
    background-color: 
    #868e96;
   
    box-shadow: 0px 1px 3px #0000008c;
    // font-size: 34px;
    // width: 130px;
}
.arr-icon{
    color: #fff;
    font-size: 32px;
    width: 32px;
    height: 32px;
}


.board{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background-color: #7a7add;
    background-color:#495057;
    gap: 20px;
    font-size: 20px;
    font-family: "roboto";
    padding: 30px 30px;
    border-radius: 10px;
    width: 80vw;
}
.quest-cont{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.answers-cont{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 6px;
}
.answer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    color: #495057;
    border: 1px solid #7a7add;
    cursor: pointer;
    padding: 3px 6px;
    transition: background-color 0.5s;
}
.correct{
    background-color: #0aac27;
    color:#fff;
}
.incorrect{
    background-color: red;
    color:#fff;
}
.restart{
    background-color: blue;
}
.last-page{
   
    background-color:  #ffc200;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.result{
    color: #fff;
}
.correctans{
    color: #0aac27;
    
}
.incorrectans{
    color: red;
}
.check{
    color: #0aac27;
    color: #fff;
}
.clear{
    color: #fff;
}
.completed{
    background-image: url("../../images/complete.png");
    width: 50px;
    height: 50px;
}