
<div class="body">   
    <div class="background">
        <app-navigation></app-navigation>
       
        <div class="main-cont">
            <app-side-bar
            [isloading]="loading"
            [currtemp]="temp"
            [tumTemp]="tumTempAvg" 
            [tumsky]="tumsky"
            [dayAfttumtemp]="dayAfttumtempAvg" 
            [dayAfttumsky]="dayAfttumsky"
            [twoDaysAftTumTemp]="twoDaysAftTumTempAvg" 
            [twoDaysAftTumsky]="twoDaysAftTumsky" 
            [threeDaysAftTumTemp]="threeDaysAftTumTempAvg" 
            [threeDaysAftTumsky]="threeDaysAftTumsky" 
            [city]="city | titlecase"
            [sky]="sky"
            ></app-side-bar>
             <div class="card-container" >
                   <div class="search-bar">
                         <form [formGroup]="Form" (ngSubmit)="onSubmit(Form.value)">
                            <input
                            class="form-control"
                            type="text"
                            formControlName="search"
                            (click)="clearText()"
                           >
                           <button type="submit" class="submit"><mat-icon color="primary" class="col3 material-icons-outlined">search</mat-icon></button>
                         </form>
                         <div class="error" *ngIf="!correctCountry">Choose Valid City</div>
                   </div>
                   
                    <div class="card">
                       <div class="backgroundImage flex-cont" *ngIf="sunny">
                            <div class="city ">{{city | titlecase}}</div>
                            <div class="tempcont"*ngIf="!loading"><div class="temp">{{temp}}°</div><span class="c">C</span></div>
                            <div *ngIf="loading"><app-loading-spinner></app-loading-spinner></div>
                       </div>
                       <div class="backgroundImage2 flex-cont" *ngIf="!sunny">
                            <div class="city">{{city| titlecase}}</div>
                            <div class="tempcont"><div class="temp">{{temp}}°</div><span class="c">C</span></div>
                       </div>
                       <span class="info">More Information</span>
                       <div class="infocont">
                        <div class="cont">
                            <div class="align-vertically"><mat-icon color="primary" class="col4">ac_unit</mat-icon><span>Min_temp {{Mintemp}}°</span></div>
                            <div class="align-vertically height40px"><mat-icon color="primary" class="col3 material-icons-outlined">water_drop</mat-icon><span>Humidity {{humidity}}%</span></div>
                        </div>
                        <div class="cont">
                            <div class="align-vertically "><mat-icon color="primary" class="col2">dew_point</mat-icon><span>Max_temp {{Maxtemp}}°</span></div>
                        <div class="align-vertically"><mat-icon color="primary" class="col1">air</mat-icon> <span class="wind">Windspeed {{wind}}km/h</span></div>
                    </div>
                    </div>
                </div>
                <button class="quiz" routerLink="/quiz">Play Quiz</button>
            </div>
            <div class="cont-3">
                <app-currency-exchanger></app-currency-exchanger>
            <app-convertor></app-convertor>

            
        </div>
   </div>
</div>
</div>
