<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  <div class="login">Login</div>
  <div class="input-container">
    <label> E-mail:</label>
    <input
      type="text"
      class="form-control"
      id="username"
      formControlName="email"
      (input)="auth()"
      [value]="email"
    />
  </div>
 
  <div class="input-container">
    <label> Password:</label>
    <input
      type="text"
      formControlName="password"
      (input)="auth()"
      [value]="password"
    />
  </div>
  
  <div class="div-cont regbtns col-md-12">
    <!-- <button class="btn" type="submit" [disabled]="isFilled()">LogIn</button> -->
    <button class="btn register" type="submit">Login</button>
    <span> |</span>
    <button class="btn register" type="button" (click)="gotoSignUp()">
      Go to Sign Up Page
    </button>
  </div>
</form>
